{% extends "base.html" %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Me</h1>
            <p class="lead fw-normal text-white-50 mb-0">This is a fake Kaiju Products ecommerce project by Laura Stephenson for her 100DaysofCode class.</p>
        </div>
      </div>
    
</header>
      <div class="container">
        <div class="row">
          <center>
            <div class="col-8">
              <p align-"justify">
                This fake ecommerce website was set up using Bootstrap and the educational videos by Codemy and 100DaysofCode. Photos are from Pixabay from Terranaut, Diversicat, keilasmile24, and Vinoth85.
                <br/><br/>
                Please do NOT attempt to buy anything from this webpage because the ebooks, templates, courses, and other content are not real and are for educational purposes only. If you want to make the kaiju products shown here in real life and sell them on your own website, do so! I'm sure people will love them!
              </p>
            </div>
        </center>
    </div>

{% endblock %}